* {
  margin: 0;
  padding: 0;
}
html {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

html,
body {
  position: relative;
  height: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  text-align: center;
  color: inherit; /* 링크의 색상 제거 */
}
input {
  font-size: 20px;
  outline: none;
  padding-left: 10px;
}
$minus-space: calc((100% - 1148px) / 2);
